<div class="header dark:bg-slate-900 text-[#116b20] dark:text-white">
  <div class="header__content  container-header">

      <div class="header__text ">
          <a [routerLink]="['/']"><h1>Pokemon</h1></a>
      </div>

     <div class="header__content--navegation">
      <div class="header__name ">
        <a [routerLink]="['/by-name']"><h1>Busca por nombre</h1></a>
      </div>
        <div class="header__type">
          <a [routerLink]="['/by-type']"><h1>Busca por tipo</h1></a>
      </div>

     </div>

      <div class="header__icon">
    
        <button (click)="setDarkMode()" class="outline-none ">
          <img [src]="getIconPath()" alt="Dark/Light Icon" class="w-6 h-6">
        </button>
      </div>

  </div>
  <a>
    
  </a>
</div>


<div [class.dark]="darkmode$"  class="content__pokemon dark:bg-slate-900 " >

  <router-outlet></router-outlet>
<div>

 